<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typeExams">
      <h2 data-cy="typeExamsDetailsHeading"><span jhiTranslate="sds2App.typeExams.detail.title">Type Exams</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeExams.id }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.typeExams.libelleType">Libelle Type</span></dt>
        <dd>
          <span>{{ typeExams.libelleType }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.typeExams.descruptionType">Descruption Type</span></dt>
        <dd>
          <span>{{ typeExams.descruptionType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/type-exams', typeExams.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
