<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-examens-heading" data-cy="ExamensCreateUpdateHeading" jhiTranslate="sds2App.examens.home.createOrEditLabel">
        Create or edit a Examens
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.examens.nomExamen" for="field_nomExamen">Nom Examen</label>
          <input type="text" class="form-control" name="nomExamen" id="field_nomExamen" data-cy="nomExamen" formControlName="nomExamen" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.examens.typeExamen" for="field_typeExamen">Type Examen</label>
          <input
            type="text"
            class="form-control"
            name="typeExamen"
            id="field_typeExamen"
            data-cy="typeExamen"
            formControlName="typeExamen"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.examens.dateExamen" for="field_dateExamen">Date Examen</label>
          <div class="d-flex">
            <input
              id="field_dateExamen"
              data-cy="dateExamen"
              type="datetime-local"
              class="form-control"
              name="dateExamen"
              formControlName="dateExamen"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.examens.typeExam" for="field_typeExam">Type Exam</label>
          <select class="form-control" id="field_typeExam" data-cy="typeExam" name="typeExam" formControlName="typeExam">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="typeExamsOption.id === editForm.get('typeExam')!.value?.id ? editForm.get('typeExam')!.value : typeExamsOption"
              *ngFor="let typeExamsOption of typeExamsSharedCollection; trackBy: trackTypeExamsById"
            >
              {{ typeExamsOption.libelleType }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.examens.laboratoire" for="field_laboratoire">Laboratoire</label>
          <select class="form-control" id="field_laboratoire" data-cy="laboratoire" name="laboratoire" formControlName="laboratoire">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                laboratoiresOption.id === editForm.get('laboratoire')!.value?.id ? editForm.get('laboratoire')!.value : laboratoiresOption
              "
              *ngFor="let laboratoiresOption of laboratoiresSharedCollection; trackBy: trackLaboratoiresById"
            >
              {{ laboratoiresOption.nomLaboratoire }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
