<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="laboratoires">
      <h2 data-cy="laboratoiresDetailsHeading"><span jhiTranslate="sds2App.laboratoires.detail.title">Laboratoires</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ laboratoires.id }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.laboratoires.nomLaboratoire">Nom Laboratoire</span></dt>
        <dd>
          <span>{{ laboratoires.nomLaboratoire }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.laboratoires.observationsExamens">Observations Examens</span></dt>
        <dd>
          <span>{{ laboratoires.observationsExamens }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/laboratoires', laboratoires.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
