<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-type-exams-heading" data-cy="TypeExamsCreateUpdateHeading" jhiTranslate="sds2App.typeExams.home.createOrEditLabel">
        Create or edit a Type Exams
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.typeExams.libelleType" for="field_libelleType">Libelle Type</label>
          <input
            type="text"
            class="form-control"
            name="libelleType"
            id="field_libelleType"
            data-cy="libelleType"
            formControlName="libelleType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sds2App.typeExams.descruptionType" for="field_descruptionType">Descruption Type</label>
          <input
            type="text"
            class="form-control"
            name="descruptionType"
            id="field_descruptionType"
            data-cy="descruptionType"
            formControlName="descruptionType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
