<div>
  <h2 id="page-heading" data-cy="LaboratoiresHeading">
    <span jhiTranslate="sds2App.laboratoires.home.title">Laboratoires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sds2App.laboratoires.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-laboratoires"
        [routerLink]="['/laboratoires/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sds2App.laboratoires.home.createLabel"> Create a new Laboratoires </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="laboratoires?.length === 0">
    <span jhiTranslate="sds2App.laboratoires.home.notFound">No laboratoires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="laboratoires && laboratoires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sds2App.laboratoires.nomLaboratoire">Nom Laboratoire</span></th>
          <th scope="col"><span jhiTranslate="sds2App.laboratoires.observationsExamens">Observations Examens</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laboratoires of laboratoires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/laboratoires', laboratoires.id, 'view']">{{ laboratoires.id }}</a>
          </td>
          <td>{{ laboratoires.nomLaboratoire }}</td>
          <td>{{ laboratoires.observationsExamens }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/laboratoires', laboratoires.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/laboratoires', laboratoires.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(laboratoires)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
