<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="maladies">
      <h2 data-cy="maladiesDetailsHeading"><span jhiTranslate="sds2App.maladies.detail.title">Maladies</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ maladies.id }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.maladies.nomMaladie">Nom Maladie</span></dt>
        <dd>
          <span>{{ maladies.nomMaladie }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.maladies.familleMaladie">Famille Maladie</span></dt>
        <dd>
          <span>{{ maladies.familleMaladie }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.maladies.descriptionMaladie">Description Maladie</span></dt>
        <dd>
          <span>{{ maladies.descriptionMaladie }}</span>
        </dd>
        <dt><span jhiTranslate="sds2App.maladies.famille">Famille</span></dt>
        <dd>
          <div *ngIf="maladies.famille">
            <a [routerLink]="['/famille-maladies', maladies.famille?.id, 'view']">{{ maladies.famille?.libelleFMaladie }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/maladies', maladies.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
